body {
	font-family:  verdana;
        background-image:url('images/fon.jpg');
       
}
.bot{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10px;
	font-family: verdana,arial;
	font-weight: bold;
}
.bot:hover{color: #000000;}
.bot1{
	color: #D56767;
	font-size: 15px;
	font-family: verdana,arial;
	font-weight: bold;
}

.bot1:hover{color: #3B5598;}
.bot2{
	color: #D56767;
	font-size: 13px;
	font-family: verdana,arial;
}
.bot2:hover{color: #3B5598;}

TD{
font-size: 12px;
FONT-FAMILY: verdana,arial;
color: #000000;
}
a:link {text-decoration:none}    /* unvisited link */
a:visited {text-decoration:none} /* visited link */
a:hover {text-decoration:underline}   /* mouse over link */
a:active {text-decoration:underline}  /* selected link */

#customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#customers td, #customers th 
{
font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#customers th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#customers tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}

#login{
	background="images/fon5.jpg" 
	color:#ff0000;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
padding-top:6px;
padding-bottom:6px;
}
li
{
display:inline;
}



a:hover,a:active
{
background-color:#7A991A;
color:#FFFFFF;
}
