#set($selected="forum")
#parse("header.vm")
#parse("topmenu.vm")
#set( $count = 0 )

<div id="middle">

<iframe src="http://forums/" width=99% height="800"></iframe>
</div> <!--id="middle"-->
#parse("middle.vm")
#parse("footer.vm")
