#set($context="admin")
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>CRON</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
##	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
##    <!-- Bootstrap -->    <base href="http://localhost:8081/" />
##    <base href="http://bw-woodwing:8081/fjob/" />
    <!-- Bootstrap -->    <base href="http://localhost:8081/admin/" />
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <script  type="text/javascript" src="js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/jquery.tablesorter.js"></script>
    <meta name="title" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
<!--	<link rel="stylesheet" href="css/home.css" type="text/css" media="screen" />-->
<!--    	<link rel="stylesheet" href="css/contented/style.css" type="text/css" media="screen" />-->
	
	<script type="text/javascript" language="javascript">

		jQuery(document).ready(function()
    	{
    	    jQuery("#person").tablesorter();
        	jQuery("#test").tablesorter();
        	jQuery("#myTable").tablesorter();
        	jQuery("#pubs").tablesorter();
        	jQuery("#users").tablesorter();
        	jQuery("#groups").tablesorter();
        	jQuery("#docs").tablesorter();
        	$("table").tablesorter();

    	}
	);

  </script>

</head>
<body>

    <div class="page-header">
        <h1> CRON<small> #if($countRecords)
         найдено $countRecords из $countAllRecords #end</small></h1>
    </div>
<div class = "well well-small">

#parse("topmenu.vm")

</div>




