
<ul class="nav nav-pills">
    <li #if($selected=="home") class="active" #end>
        <a href="/$context/home">Главная</a>
    </li>
    <li #if($selected=="pubs") class="active" #end>
        <a href="/$context/pubs">Издания</a>
    </li>
    <li #if($selected=="groups") class="active" #end>
        <a href="/$context/groups">Группы</a>
    </li>
    <li #if($selected=="users") class="active" #end>
        <a href="/$context/users">Пользователи</a>
    </li>
	    <li #if($selected=="tickets") class="active" #end>
        <a href="/$context/tickets">Активные</a>
    </li>
    <li #if($selected=="cronlog") class="active" #end>
        <a href="/$context/log">Задания</a>
    </li>
    <li #if($selected=="licenses") class="active" #end>
        <a href="/$context/licenses">Лицензии</a>
    </li>

</ul>